# Ignored file types for GitHub
#
# Cedar Turek cturek@hmc.edu 20 Nov 2022
# Modified 2/26/2023

#########################
# Compiled Source Files #
#########################
*.o
*.s

########################
# Massive Output Files #
########################
# *.out
lcao1*
lcao0*

#######################################
# SeqQuest Intermediate Binary Files  #
########################################

*.broy0_elec
*.data
*.dh
*.dmat
*.dmats
*.dmd_geom
*.drh0
*.drho
*.drhs
*.emat
*.emats
*.dmd_geom
*.grd
*.grd0
*.grho
*.h0*
*.post
*.set0
*.stat
*.vec

###############
# Old Folders #
###############

/TESTING/*
