# Ignored file types for GitHub
#
# Cedar Turek cturek@hmc.edu 20 Nov 2022

#########################
# Compiled Source Files #
#########################
*.o
*.s
*.x

###############################################
# Strange SeqQuest Intermediate Binary Files  #
###############################################

*.broy0_elec
*.data
*.dh
*.dmat
*.dmd_geom
*.drh0
*.drho
*.emat
*.dmd_geom
*.grd
*.grd0
*.h0*
*.set0
*.stat
*.vec

###############
# Old Folders #
###############

/TESTING/*
